body
{
	font:normal 100% Cambria,Georgia,"Times New Roman",Times,serif;
 	line-height:1.5em;
 	margin:0;
 	background:#a6192e;
 	padding-left: 30px;
 	padding-right: 30px;
 	padding-bottom: 50px;
}


.blackOutter 
{
	background-color: #3d3935;

	padding-top: 15px;
	padding-bottom: 25px;

}

.whiteInner
{
	background-color: #ffffff;

	padding-left: 15px;
	padding-right: 200px;
	padding-top: 35px;
	padding-bottom: 20px;

}

.grayTable
{
	background-color: #e9eff1; 
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 70px;
}


h2
{
	color: #B40405;
}

table, td
{
	border: 1px solid #A5A5A4;
}

th
{
	background-color: #BDBDBC;
	border: 1px solid #A5A5A4; 
	text-align: left;
}

table
{
	border-collapse: collapse;
	width: 100%;
}

button
{
  background-color: #B40405; 
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  float: right;
}

input
{
	padding-left: 5px;
  	border: 1px solid #ccc;
	max-width: 5em;
}
